# Supabase Configuration - Proyecto: nablus-ligafutbol
VITE_SUPABASE_URL=https://vbvaooofkxnkgujtmtcy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZidmFvb29ma3hua2d1anRtdGN5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc2NjkyOTAsImV4cCI6MjEwMzI0NTI5MH0.wEFI-8_WLj1l9o5qfvvLcvg3bVz9RgNC22vz_Sg-xW4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZidmFvb29ma3hua2d1anRtdGN5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzY2OTI5MCwiZXhwIjoyMTAzMjQ1MjkwfQ.ohriFU2UFMIn58KVyiXSnqX0bhwS2DFuu4zgbPkDcac
SUPABASE_DB_PASSWORD=Nablusligafutbol